<h1 class="mt-3">What about the application</h1>
<div class="row mb-5">
    <div class="col-md-12 mb-3">
        <strong class="d-block text-primary mb-3">Users</strong>
        <p>I am getting data using service with fake API, there is right top the corner user can filter data by name.
        </p>
        <p>
           User can see the specific details after click view button.
        </p>
        <ul>
            <li class="font-weight-light">I am using dynamic parameter mapping with activated router paramMap and get the id</li>
            <li class="font-weight-light">Create the interface user module, and added optional id</li>
            <li class="font-weight-light">User list service using passing parameter id as string. if id available object is equal to id. passing objec get data as params.</li>
            <li class="font-weight-light">Created specific user load detals function and passed userd id which i have created in parameter router, recall specific details funtion inside ngOnInit</li>
            <li class="font-weight-light">Showing output spefic details with zero number.</li>
        </ul>
    </div>

    <div class="col-md-12 mb-3">
        <strong class="d-block text-primary mb-3">Contact Us</strong>
        <p>In ths contact us i am using reactive form module</p>
        <ul>
            <li class="font-weight-light">Bind form with formGoup as property binding along with ngSubmit method to sent inputs value as parameter</li>
            <li class="font-weight-light">Validated input fields with validators in ts file also using get method each field to validation.</li>
            <li class="font-weight-light">I am using Firebase storing user data.</li>
            <li class="font-weight-light">Send the post request and subcribe the observable.</li>
        </ul>
    </div>

    <div class="col-md-12 mb-3">
        <strong class="d-block text-primary mb-3">Image Upload</strong>
        <p>This is very simple event bind in  file input field and passing parameter event, and storing the file data like event.target.file[0]</p>
        and sent the post request by onclick sent file name and data.
       
    </div>

</div>